<!DOCTYPE html>
<html>
    <head>
        <title>{{{ title }}}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <img src="/img/TheTowers-1.jpg">
        {{{ body }}}
    </body>
</html>