<main>
    <div class="trans-contained-box page-title-white grey-bg">
        <div class="main-title-text"><h1 id="page-title">Media</h1></div>
        <div class="videoWrapper">
            <iframe allowfullscreen src="https://www.youtube.com/embed/Ua5sYoeHdfo"></iframe>
        </div>

        <div class="main-title-text"><h1 id="gallery-title">Gallery</h1></div>
        <div class="black-bg rounded inner-div">
            <div class="gallery-box" id="main-gallery-container">
                <div id="gallery-placeholder"><p>Loading gallery...</p></div>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="flex-container">
        <div class="trans-contained-box" id="copyright">
            Copyright &copy; 2024, All Rights Reserved Trio Luna and <a target="_blank" href="https://felixcreations.com"><img alt="Felixcreations Logo" class="img-logo trans-30" src="/static/images/felix-logo-black.webp"></a>
        </div>
    </div>
    <div class="flex-container" style="padding-bottom: 20px" id="footer-text">
        If you have any questions or concerns, please contact Michael Felix through <a class="email-link" target="_blank" href="mailto:mikemh@uri.edu">mikemh@uri.edu</a>
    </div>
</footer>

<script src="/static/js/change-language.js"></script>
<script src="/static/js/gallery.js"></script>