<nav>
    <ul class="nav-links">
        <li class="nav-link"><a href="/dolphin">Dolphins</a></li>
        <li class="nav-link"><a href="/unicorn">Unicorns</a></li>
    </ul>
</nav>

<div class="contained-box">
    <div class="flex-container">
        <img class="preview-img" src="https://t0.gstatic.com/licensed-image?q=tbn:ANd9GcQdVrDbX5tCAQ6lX9axvmA12KMoRadrK1F7Pgls0RBotbvCJ9C-rd-_TNNKD70f4oQL">
    </div>
</div>