<nav>
    <ul class="nav-links">
        <li class="nav-link"><a href="/dolphin">Dolphins</a></li>
        <li class="nav-link"><a href="/unicorn">Unicorns</a></li>
    </ul>
</nav>

<div class="contained-box">
    <div class="flex-container">
        <img class="preview-img" src="https://merriam-webster.com/assets/mw/images/article/art-wap-landing-mp-lg/a-beautiful-unicorn-1814-78aff4673ccfd6ded4b6eeae1ba704fc@1x.jpg">
    </div>
</div>